/* Note on code snippet
  author: Martin Wolf
  source code: https://codepen.io/martinwolf/pen/qlFdp
*/


/*** SELECTED PRODUCT ****/

.selected-product {
  margin: 60px auto 100px auto;
  border: 2px solid #e2dfdf;
  width: 90%;
  padding: 20px;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;

  flex-direction: column;
}


.product-image {
  margin: 0 auto 50px auto;
}


.product-description {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 4%;

}

.product-description h3 {
  margin-bottom: 80px;
  line-height: 92px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 80px;

}

.product-description ul {
  padding-left: 3%;
}

.product-description ul > li  {
  font-size: 60px;
  color: #333333;
  list-style-type: disc;
  margin-left: 30px;
  margin-bottom: 60px;
  font-family: 'Open Sans', sans-serif;

}

.product-price {
  font-family: 'Open Sans', sans-serif;
}

.product-price h1 {
  font-size: 80px;
}


#cart {
  width: 100%;
  height: 160px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 56px;
  background-color: #338700;
  margin-top: 35px;
  border: 1px solid #338700;
}


/**** PRODUCT ITEMS LISTING ******/

.product-items-container {


  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  flex-direction: column;

  margin: 0 auto;
  width: 94%;

}

.product-item {
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
  color: white;
  border: 4px solid #e2dfdf;
  padding: 30px;
}

.product-thumb-image {
  margin-bottom: 20px;
}

.product-thumb-description {
  color: black;

  /*See note on this code snippet*/
  display: block;   /* Fallback for non-webkit */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;

  font-size: 50px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  line-height: 60px;
}

.product-thumb-price {
  color: #333333;
  margin-top: 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 50px;
}

.view-more-button {
  border: 2px solid #CCCCCC;
  font-size: 40px;
  color: #0471AF;
  margin-top: 35px;
  width: 100%;
  height: 100px;
  background-color: #FFFFFF;
}

/*MEDIA QUERIES*/

/* ----------- Non-Retina Screens ----------- */
@media screen
  and (min-device-width: 768px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1) {

    /*** SELECTED PRODUCT ****/

    .selected-product {
      flex-direction: row;
    }

    .product-image, .product-description {
      flex: 1;
    }

    .product-image img {
      width: 195px;
      height: 195px;
    }

    .product-description {
      flex: 3;
      padding: 0 6% 0 0;
    }

    .product-description h3 {
      font-size: 16px;
      line-height: 30px;
      margin-bottom: 20px;
    }

    .product-price {
      flex: 1;
    }

    .product-price h1 {
      font-size: 22px;
    }

    .product-description ul > li {
      font-size: 14px;
      margin: 0 0 11px 0;
    }

    #cart {
      height: 44px;
      font-size: 14px;
      margin-top: 20px;
    }

    /**** PRODUCT ITEMS LISTING ******/

    .product-item {
      width: 18%;
      -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      border: 2px solid #e2dfdf;
    }

    .product-items-container {
      flex-direction: row;
      justify-content: space-between;
    }

    .product-thumb-image {
      width: 100%;
      margin-left: 25%;
    }

    .product-thumb-image img {
      width: 100px;
      height: 100px;
    }

    .product-thumb-description {
      font-size: 14px;
      font-weight: 600;
      line-height: 16px;

      /*See note on this code snippet*/
      display: block;   /* Fallback for non-webkit */
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .product-thumb-price {
      margin-top: 10px;
      font-size: 16px;
      font-weight: 600;
    }

    .view-more-button {
      font-size: 14px;
      font-weight: 600;
      font-family: 'Open Sans', sans-serif;
      height: 44px;
      border: 2px solid #CCCCCC;
      margin-top: 15px;
    }
}
